/* GLOBAL BEGIN*/

* {
  box-sizing: border-box;
  }

h1{
	text-align: center;
}

.card-container {
	width: 100%;
	float:left;
	font-family: Lato, Roboto, Arial, Tahoma;
}

/* GLOBAL END*/

/* CARD WRAPPERS BEGIN */
@media (min-width:992px) {
	.cw-lg-3{
		width: 33.33%;
		float:left;
	}
}

@media (min-width:768px) and (max-width:991px) {
	.cw-md-2{
		width: 50%;
		float:left;
	}

	.cw-md-1{
		width: 100%;
		float:left;
	}
}

@media (max-width:767px) {
	.cw-sm-1{
		width: 100%;
		float:left;
	}
}

/* CARD WRAPPERS END */

 .card {
	margin: 10px;
	clear: right;
	border-style: solid;
	background-color: grey;
}

.card-title{
	border-style: solid;
	border-top: 0;
	border-right: 0;
	float: right;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	width: 30%;
	padding-top: 3px;
	padding-bottom: 3px;
	border-color: black;
}


/* TITLE COLORS BEGIN */

.chicken{
	background-color: red;
	color: white;
}

.beef{
	background-color: green;
}

.sushi{
	background-color: blue;
	color: white;
}

/* TITLE COLORS END */

.card-text{
	clear: right;
	padding:  10px;

}